@media (max-width: 768px) {
    .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .App-logo {
        height: auto;
        width: 50vw;
        cursor: pointer;
        margin: 25px;
    }

    .Screen-caps-container {
        justify-content: space-between;
    }

    .App-store {
        width: 30vw;
        margin: 5px;
    }

    .App-ScreenCap {
        width: 40vw;
        padding-top: 100px;
    }

    .Main-text {
        font-size: 24px;
        padding-top: 50px;
    }

    .Mini-text {
        font-size: 12px;
    }

}


@media (min-width: 769px) {
    .App {
        /*text-align: center;*/
    }

    .App-logo {
        height: auto;
        width: 25vw;
        cursor: pointer;
        margin: 25px;
    }

    .Screen-caps-container {
        justify-content: flex-end;
        gap: 50px;
    }
    .App-ScreenCap {
        height: 50vh;
    }

    .App-store {
        width: 20vh;
        margin: 5px;
    }

    .Main-text {
        font-size: 36px;
        text-align: start;
    }

    .Mini-text {
        font-size: 18px;
    }

    .Content-container {
        display: flex;
        padding-top: 10vh;
        flex-direction: row;
        align-items: center;
    }
}

.Screen-caps-container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
}

.Main-text {
    color: azure;
    margin: 25px;
}

.Mini-text {
    color: #58756f;
}

.Content-container {
    padding-bottom: 50px;
}

.highlighted-text {
    color: #58756f; /* Set your desired color */
}

ul {
    list-style: none; /* Removes the default list style */
    padding: 0; /* Removes any default padding */
    margin: 0; /* Removes any default margin */
}

li {
    margin-bottom: 0; /* Adds some spacing between list items */
}

.Terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px;
}